<a href="https://colab.research.google.com/github/zengh100/PythonForKids/blob/master/notebook/lesson04/lesson04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The range() is a built-in function of Python which returns a range object, which is nothing but a sequence of integers. i.e., Python range() generates the integer numbers between the given start integer to the stop integer, which is generally used to iterate over with for loop. 

[watch video](https://www.youtube.com/watch?v=HWcs5qdvvo0)

![alt text](https://pynative.com/wp-content/uploads/2018/10/python_range-300x220.png)

In [0]:
# range(6) generates a a sequence of integers: 0,1,2,3,4,5  (DOES NOT include 6)
for i in range(4):
  print(i)

In [5]:
start=2
stop=6  
for i in range(start,stop):
  print(i)

2
3
4
5

In [0]:
start=0
stop=6
step=2 
for i in range(start,stop, step):
  print(i)

In [0]:
# Quiz: use range function to generate a sequential of integers: 5, 10, 15,20
start = ?
stop = ?
step = ?
print(list(range(start,stop,step)))

![alt text]()

# Three different methods to use range function
- one argument which is stop. start is default as 0 and step is 1 by default.

      range(stop)          <--->  range(0, stop, 1)

- two arguments which are start and stop. step is 1 by default

      range (start, stop)  <--->  range(start, stop, 1)

- three arguments

      range (start, stop, step)

In [0]:
# convert range to a list
r = range(6) 
print(r)
l = list(r)
print(l)

# For Loop
[watch video](https://www.youtube.com/watch?v=OnDr4J2UXSA)

In [6]:
total = 0
for i in range(1, 100):
  if(i%3==0):
    total = total + i
print(total)

1683

In [0]:
# sum up numbers between [1, 99] that are multiple of 5 
# start = 1
# stop = 100
# step = 1
# print(list(range(start,stop,step)))

total = 0
for i in range(1, 5):
  total = total + i
  print(i, total)
print(i, total)